.tabela-irpf tbody td, .tabela-irpf thead th {
    padding: 4px;
}

.tabela-irpf thead, .tabela-irpf tr {
    font-size: 11px;
}

.lucro {
    color: var(--cc-lucro);
    font-weight: 600;
}

.prejuizo {
    color: var(--cc-prejuizo);
    font-weight: 600;
}

.p-card-content {
    padding: 0;
}
