
    <p-card  [style]="{ 'min-height': '20rem' }"   
    [header]="'Cálculo de Imposto em ' + tituloSubclasseAtivo">

   
        <p class="m-1">
            prejuízo a compensar do mês anterior: <span style="color: #d43737e1;; font-weight: bold;"> {{ irpfMes.prejuizoCompensar | currency: 'BRL' }}  </span>
        </p>       
        <p class="m-1">
           <span style="color: #2542e6; font-weight: bold;">  {{ irpfMes.mes }} </span> / imposto a pagar: {{ irpfMes.valorAPagar | currency: 'BRL' }}
        </p> 
        <p *ngIf="irpfMes.ativosVendidos.length === 0"> Nenhuma venda para essa subclasse de ativos neste mês </p>      
        <p-panel 
        *ngIf="irpfMes.ativosVendidos.length > 0"
        header="Ativos Vendidos"
        [toggleable]="true"
        [collapsed]="true"
        styleClass="mt-2">
        <p-table *ngIf="irpfMes.ativosVendidos.length > 0" [value]="irpfMes.ativosVendidos" 
            [tableStyle]="{ 'border': '1px solid #ccc' }" 
            [scrollable]="true" scrollHeight="7rem"
            class="tabela-irpf">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ativo</th>
                    <th>Qt negociada</th>                    
                    <th>Resultado </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-op>
                <tr>
                    <td>{{ op.ativoDto.nome }}</td>
                    <td>{{ op.quantidadeNegociada }}</td>                    
                    <td>
                        <span [ngClass]="op.resultadoOperacao > 0 ? 'lucro' : 'prejuizo'">
                        {{ op.resultadoOperacao | currency: 'BRL' }}
                        </span>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
        </p-panel>
        <div class="grid">
        <p class="m-1 col-5">
           Resultado do Mês Ações 
            <span [ngClass]="irpfMes.resultadoMes > 0 ? 'lucro' : 'prejuizo'">
               <br /> {{ irpfMes.resultadoMes | currency: 'BRL'}} 
           </span>
        </p> 
        <p class="m-1 col-6" style="text-align: right;">
            Total em vendas
            <br />
            {{ irpfMes.totalVendido | currency: 'BRL'}} 
        </p>

        <div class="m-3 w-full flex">
            prejuízo a compensar pós resultado do Mês: <span style="color: #d43737e1; font-weight: bold;"> {{ irpfMes.prejuizoPosResultado | currency: 'BRL' }}  </span>
            <div class="flex w-full justify-content-end">
            <p-button size="small" pTooltip="Atualizar Prejuízo a Compensar" class="cor-btn" icon="pi pi-refresh" (onClick)="atualizarPrejuizoAcumulado(subclasseAtivo)" />
            </div>
        </div>  
        
         <div class="flex justify-content-end w-full">                    
            
        </div>
        
    </div>
   
    </p-card>
