
.tabela-irpf tbody td, .tabela-irpf thead th  {    
    padding: 4px;
    
}
.tabela-irpf thead, .tabela-irpf tr  {
    font-size: 11px;    
}

.lucro {
    color: #0b4c97;
}

.prejuizo {
    color: #d43737e1;
}

.p-card-content {
    padding: 0;
}
