<div class="dialog-content mr-3 ml-3">
    <form #formUser="ngForm">
       
        <div class="field grid">
            <label for="senha" class="col-12 lg:col-2 md:col-2 sm:col-12 sm:justify-content-end">Senha Atual</label>
            <div class="col-12 lg:col-10 md:col-10 sm:col-12 p-fluid">
                <p-password 
                [(ngModel)]="user.senhaAtual" name="senhaAtual" [feedback]="false"  [toggleMask]="true" />
            </div>
        </div>
        <div class="field grid">
            <label for="senha" class="col-12 lg:col-2 md:col-2 sm:col-12 sm:justify-content-end"> Nova Senha</label>
            <div class="col-12 lg:col-10 md:col-10 sm:col-12 p-fluid">
                <p-password  
                [(ngModel)]="user.novaSenha" name="novaSenha" [feedback]="true"  [toggleMask]="true" />
            </div>
        </div>
        <div class="field grid">
            <label for="senha" class="col-12 lg:col-2 md:col-2 sm:col-12 sm:justify-content-end">Confirmar Nova Senha</label>
            <div class="col-12 lg:col-10 md:col-10 sm:col-12 p-fluid">
                <p-password onkeypress="confereSenha()"
                [(ngModel)]="conferenciaSenha" name="conferenciaSenha"  [feedback]="false"  [toggleMask]="true" />
            </div>
          
        </div>      


        <div class="field grid" *ngIf="!confereSenha()">
            <p-message severity="info" text=" As senhas não conferem" /> 
        </div>

        <div class="grid">            
            <div class="col-11 lg:col-3 sm:col-12 lg:col-offset-9 p-fluid">
                <p-button label="Alterar Senha" class="cor-btn" size="small"
                
                (onClick)="save(formUser.value)"></p-button>
            </div>
        </div>
        
    </form>
</div>