:host h4 {
    color: var(--cc-text-secondary);
    font-weight: 500;
    margin: 0.5rem 0 0.2rem;
}

.subtitulo-numero-mes {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    color: var(--cc-blue-800);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    :host h4 {
        font-size: 0.85rem;
        margin: 0.3rem 0;
    }

    :host .subtitulo-numero-mes {
        font-size: 1rem;
    }
}
