:root {
    --primary-color-cc: #f4f4f4;
    --secondary-color-cc: #000080;
}
html {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    font-size: 1rem;
}

.p-menubar {
    
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(176, 177, 179) 200%);   
    box-shadow: 0px 4px 4px #ccc;
    z-index: 1000;
    position: relative;   
     
}


h3 {
    color: #000;   
    float: left;
}
/* span {    
    font-size: 3.5rem;    
    color: #333;
    font-weight: 100;    
    margin-left: 4px;
} */
.p-inputnumber-input {    
    width: 100px; 
 }

/*
.p-menubar {    
    background-color: var(--secondary-color-cc);    
} */

@media screen {
    
}