<div class="alocacao-meta-container">
    <h4>Alocação Alvo</h4>
    <p class="text-muted">
        Defina o percentual desejado para cada classe de ativos. A soma deve totalizar 100%.
    </p>

    <div *ngIf="carregando" class="flex justify-content-center p-4">
        <p-progressSpinner styleClass="w-3rem h-3rem"></p-progressSpinner>
    </div>

    <div *ngIf="!carregando">
        <p-table [value]="metas" [tableStyle]="{ 'min-width': '40rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Classe de Ativos</th>
                    <th style="width: 12rem;">Percentual (%)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-meta>
                <tr>
                    <td>{{ meta.descricao }}</td>
                    <td>
                        <p-inputNumber
                            [(ngModel)]="meta.percentual"
                            [name]="'percentual_' + meta.categoria"
                            mode="decimal"
                            [minFractionDigits]="0"
                            [maxFractionDigits]="2"
                            [min]="0"
                            [max]="100"
                            suffix=" %"
                            styleClass="w-full">
                        </p-inputNumber>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td><strong>Total</strong></td>
                    <td>
                        <strong [class.text-danger]="!totalValido">
                            {{ total.toFixed(2) }} %
                        </strong>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="!totalValido" class="mt-3">
            <p-message severity="warn"
                [text]="'A soma dos percentuais deve ser 100% (atual: ' + total.toFixed(2) + '%)'">
            </p-message>
        </div>

        <div class="flex justify-content-end mt-3">
            <p-button label="Salvar" icon="pi pi-save" size="small"
                [loading]="salvando"
                [disabled]="!totalValido"
                (onClick)="salvar()">
            </p-button>
        </div>
    </div>
</div>
