
<div>
        <button pButton (click)="cadastrarIndice()" label="Cadastrar Índice" class="cor-btn" size="small"></button>
</div>
    <div style="width: 80vw;">
    <p-dataView [value]="indices()" [rows]="15" [paginator]="true">
        <ng-template pTemplate="list" let-items>
          <div class="col-span-12" *ngFor="let item of items; let first = first">
            {{ item.data | date:'dd/MM/yyyy' }} :
            
            {{ item.valor }}%
           
            <button pButton (click)="editar(item)"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text">
            </button>

            <button pButton (click)="excluir(item)"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text">
            </button>
          </div>
        </ng-template>
      </p-dataView>
      
</div>