<div class="dialog-content">
    <form #f="ngForm">
        <div class="field p-fluid">
            <label for="tipo-operacao"> Ativo Negociado </label>
            <p-dropdown [options]="ativos" [filter]="true" filterBy="sigla" [(ngModel)]="operacaoRendaVariavel.ativoDto"
                optionLabel="sigla" [showClear]="true" placeholder="Selecione um ativo" name="ativoDto"
                optionValue="id">
            </p-dropdown>
        </div>
        <div class="field p-fluid">            
            <label for="tipo-operacao"> Tipo da Operação </label>
            <p-dropdown #tipoOperacao [options]="tiposOperacao" [(ngModel)]="operacaoRendaVariavel.tipoOperacaoDto"
                optionLabel="nome" [showClear]="true" placeholder="Tipo da Operação" name="tipoOperacaoDto"
                optionValue="id">
            </p-dropdown>
        </div>
        <div class="field p-fluid">
            
            <div *ngIf="tipoOperacao?.value !== 3">
                <label for="quantidade"> Quantidade </label>
            </div>
            <div *ngIf="tipoOperacao?.value === 3">
                <label for="quantidade"> Fator de Proporção (uma ação vira quantas?) </label>
            </div>
            
            <p-inputNumber inputId="quantidade" [(ngModel)]="operacaoRendaVariavel.quantidadeNegociada"
                name="quantidadeNegociada" [useGrouping]="false" [min]="0" mode="decimal"> </p-inputNumber>
        </div>
        <div class="field p-fluid">
            <label for="valorAtivo"> Valor do Ativo </label>
            <p-inputNumber inputId="valorAtivo" [min]="0"  locale="pt-BR" mode="currency" currency="BRL"
                inputId="currency-brazil" [maxFractionDigits]="6" [(ngModel)]="operacaoRendaVariavel.valorUnitario" name="valorUnitario">
            </p-inputNumber>
        </div>
        <div class="field p-fluid">
            <label for="valorCorretagem"> Valor da Corretagem </label>
            <p-inputNumber [min]="0" locale="pt-BR" mode="currency" currency="BRL" inputId="currency-brazil"
                [(ngModel)]="operacaoRendaVariavel.valorCorretagem" name="valorCorretagem">
            </p-inputNumber>
        </div>
        <div class="field p-fluid">
            <label for="icondisplay"> Data da Operação </label>
            <p-calendar [(ngModel)]="operacaoRendaVariavel.dataOperacao" [iconDisplay]="'input'" [showIcon]="true"
                inputId="icondisplay" dateFormat="dd/mm/yy" name="dataOperacao"></p-calendar>
        </div>
        <div class="field p-fluid">
            <p-button label="Cadastrar" class="cor-btn" (onClick)="save(f.value)"></p-button>
        </div>
    </form>
</div>