<p-confirmDialog key="deleteAporte" />
<p-button label="Cadastrar Aporte" (click)="showDialogCadastrarAporte()"></p-button>
<p-table [value]="aportes">
    <ng-template pTemplate="header">
        <th> Data </th>
        <th> Valor </th>
        <th> </th>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td> {{ rowData['dataAporte'] }} </td>
            <td> {{ rowData['valorAporte'] }} </td>            
            <td>
                <div class="flex">

                    <editar [componente]="'CadastrarAporteComponent'" [entity]="rowData.id">

                    </editar>
                    <!-- <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editar(rowData.id)"
                        class="p-button-rounded p-button-text p-button-primary"></button> -->
                    
                    <validar-exclusao [entity]="rowData" [key]="'deleteAporte'" 
                    (entityDeleted)="listarAportes()"
                    [service]="aporteService">                        
                    </validar-exclusao>
                  
                </div>

            </td>
        </tr>
    </ng-template>
</p-table>
<!-- <ul>
    <li *ngFor="let aporte of aportes"> 
        {{ aporte.valorAporte }} - {{ aporte.dataAporte }}
    </li>
</ul> -->