<div class="grid container-filtros-superiores">          
    <div class="col-12 flex align-items-center gap-2 flex-wrap meses">
        <p-chip [styleClass]="mes.mesInteiro === selectedMonth ? 'mesSelecionado' : '' "
        (click)="selecionarMes(mes)" class="item-mes"
        *ngFor="let mes of filtroMes$ | async" [label]="mes.mesString" />                              
    </div>

    <div class="p-2 col-12">
        <div>
            <p-dropdown [(ngModel)]="filter.ano" [options]="anos" appendTo="body" 
                name="ano" [showClear]="true"
                placeholder="Ano" [style]="{'width': '100%'}"
                (onChange)="getMeses($event.value)" 
                >
            </p-dropdown>
        </div>
    </div>
</div>