::ng-deep .mesSelecionado {
    background-color:  var(--secondary-color-cc);
    color: white;
    border-color: var(--secondary-color-cc);
}

::ng-deep .item-mes .p-chip {
    display: inline-flex;
    min-width: 40px;
}