<form #f="ngForm">    
    <div class="field p-fluid">
        <label for="tipo-operacao"> Ativo Negociado </label> 
        <p-dropdown [options]="ativos" 
                [filter]="true" filterBy="sigla"
                [(ngModel)]="operacaoRendaFixa.ativoDto"             
                optionLabel="sigla" [showClear]="true"
                placeholder="Selecione um ativo" name="ativoDto"                   
                >
        </p-dropdown>            
    </div> 
    <div class="field p-fluid">
        <label for="tipo-operacao"> Tipo da Operação </label>
        <p-dropdown [options]="tiposOperacao" 
            [(ngModel)]="operacaoRendaFixa.tipoOperacaoDto" optionLabel="nome"
            [showClear]="true" placeholder="Tipo da Operação" 
            name="tipoOperacaoDto">
        </p-dropdown>
    </div>
    <div class="field p-fluid">
        <label for="quantidade"> Quantidade </label>
        <p-inputNumber inputId="quantidade" 
        [(ngModel)]="operacaoRendaFixa.quantidadeNegociada" 
        name="quantidadeNegociada" [useGrouping]="false"
        mode="decimal" 
        [minFractionDigits]="0" 
        [maxFractionDigits]="2"  [min]="0" > </p-inputNumber>
    </div>
    <div class="field p-fluid">
        <label for="valorAtivo"> Valor do Ativo </label>
        <p-inputNumber inputId="valorAtivo" [min]="0" 
        locale="pt-BR" mode="currency" currency="BRL" inputId="currency-brazil"
        [(ngModel)]="operacaoRendaFixa.valorUnitario" name="valorUnitario"> </p-inputNumber>
    </div>
    <div class="field p-fluid">
        <label for="valorCorretagem"> Valor da Corretagem </label>
        <p-inputNumber [min]="0" locale="pt-BR" mode="currency" currency="BRL" inputId="currency-brazil" 
        [(ngModel)]="operacaoRendaFixa.valorCorretagem" name="valorCorretagem">
        </p-inputNumber>
    </div>
    <div class="field p-fluid">
        <label for="icondisplay"> Data da Operação </label>
        <p-calendar [(ngModel)]="operacaoRendaFixa.dataOperacao" 
            [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
            dateFormat="dd/mm/yy"
            name="dataOperacao"></p-calendar>
    </div>
    <div class="field p-fluid">
        <label for="icondisplay"> Data do Vencimento </label>
        <p-calendar [(ngModel)]="operacaoRendaFixa.dataVencimento" 
            [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
            dateFormat="dd/mm/yy"
            name="dataVencimento"></p-calendar>
    </div>
    <div class="field p-fluid">
        <label for="indexadorDto"> Índice </label>
        <p-dropdown [options]="indices" 
            [(ngModel)]="operacaoRendaFixa.indexadorDto" optionLabel="nome"
            [showClear]="true" placeholder="Índice" 
            name="indexadorDto">
        </p-dropdown>
    </div>
    <div class="field p-fluid">
        <label for="taxa"> Taxa Contratada </label>
        <p-inputNumber inputId="taxa" 
        [(ngModel)]="operacaoRendaFixa.taxaContratada" 
        name="taxaContratada" 
            [min]="0" mode="decimal"> </p-inputNumber>
    </div>
    <div class="field p-fluid">
        <p-button label="Cadastrar" (onClick)="save(f.value)"></p-button>
    </div>    
</form>