<div class="grid">
    <div  [ngClass]="{'col-8': ativoSelecionado, 'col-12': !ativoSelecionado}">
        <p-table [value]="carteira" styleClass="p-datatable-sm"            
            [(selection)]="ativoSelecionado" selectionMode="single"           
            [tableStyle]="{ 'min-width': '50rem', 'border': '1px solid #ccc' }" class="tabela-irpf">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Carteira
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="text-center">Totais: </th>
                    <th> {{totalProventos | currency : 'BRL'}}</th>
                    <th colspan="2"></th>
                    <th> {{ totalCusto | currency: 'BRL' }}</th>
                    <th> {{ totalValorMercado | currency: 'BRL' }}</th>
                </tr>

                <tr>
                    <th pSortableColumn="ativo">Ativo <p-sortIcon field="ativo" /></th>
                    <th pSortableColumn="custodia">Custódia <p-sortIcon field="custodia" /></th>
                    <th>Preço Médio</th>
                    <th>Cotação</th>
                    <th>Oscilação do dia</th>                    
                    <th pSortableColumn="valorizacao">Valorização <p-sortIcon field="valorizacao" /></th>
                    <th pSortableColumn="totalEmProventos">Proventos <p-sortIcon field="totalEmProventos" /></th>
                    <th pSortableColumn="ganhoDeCapital">Ganho de Capital <p-sortIcon field="ganhoDeCapital" /></th>
                    <th>Percentual </th>
                    <th pSortableColumn="custo">Custo <p-sortIcon field="custo" /></th>
                    <th pSortableColumn="valorMercado">Valor de Mercado <p-sortIcon field="valorMercado" /></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" locale="pt-BR" let-item>
                <tr [pSelectableRow]="item.ativo.id">
                    <td class="middle-aligned">
                        <img [src]="item.ativo.logo" class="shadow-4" width="35px" height="35px" />
                        <span class="middle-text">{{ item.ativo.sigla }}</span>
                    </td>
                    <td>{{ item.custodia }}</td>
                    <td>{{ item.precoMedio | currency:'BRL' }}</td>
                    <td>{{ item.cotacao | currency: 'BRL' }}</td>
                    <td>{{ item.oscilacaoDia | number: '1.0-2' }} %</td>                    
                    <td>
                        <div [ngClass]="{'prejuizo': item.valorizacao < 0, 'lucro': item.valorizacao > 0 }">
                            {{ item.valorizacao | number: '1.0-2' }}
                        </div>
                    </td>
                    <td> {{item.totalEmProventos | currency: 'BRL'}}</td>
                    <td> {{ item.ganhoDeCapital | currency: 'BRL'}}</td>
                    <td>

                        {{ item.valorMercado / totalValorMercado | percent : '1.0-2'}}
                    </td>
                    <td>{{ item.custo | currency: 'BRL' }} </td>
                    <td>{{ item.valorMercado | currency: 'BRL' }} </td>


                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-4" *ngIf="ativoSelecionado != 0">
        <app-detalhar-ativo [idAtivo]="ativoSelecionado">

        </app-detalhar-ativo>
    </div>
</div>