.spinner-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(15, 23, 42, 0.35);
    z-index: 100000;
    backdrop-filter: blur(2px);
}
