.venda {
    color: var(--cc-prejuizo);
    font-weight: 500;
}

.compra {
    color: var(--cc-lucro);
    font-weight: 500;
}

.painel-de-botoes {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .painel-de-botoes {
        justify-content: center;
        gap: 0.5rem;
    }
}
