<div class="grid">
  <div class="header">

    <p-menubar [model]="items" [baseZIndex]="1002" [autoZIndex]="false">
      <ng-template pTemplate="start">
        <a routerLink="/" style="text-decoration: none; font-size: 1.2rem;">         
            <h3 style="display: inline-flex; flex-wrap: wrap; color: #333;"> 
              Ca$hController </h3>
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
          <span style="color: #666;">Olá, {{username}}</span>
          <button pButton type="button" icon="pi pi-sign-out" class="p-button-rounded" (click)="logout()" pTooltip="Sair"></button>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item" class="p-menuitem">

        <a [routerLink]="item.routerLink" class="p-menuitem-link"                               
          [ngClass]="selectedMenu == item.id ? 'p-menuitem-link-active' : ''" (click)="item.command($event)">
          <span class="p-menuitem-icon {{item.icon}}"></span>
          <span class="p-menuitem-text">
            {{ item.label }}
          </span>
        </a>

      </ng-template>  
    </p-menubar>
   
  </div>
   <div class="w-full barra-header" #teste>       
    </div>
 
  <div class="col-12 content">    
    <app-loading></app-loading> 
    <router-outlet></router-outlet>    
  </div>

  <footer class="p-2 footer">
    Todos os direitos reservados | CashController - 2024 - Versão: {{version}}
  </footer>

</div>