.header {
    padding-bottom: 0;
}
.banner {
    background-color: var(--primary-color-cc);  
    height: 4rem;  
    display: flex;
    align-items: center;  
}

.banner > h1 {
    color: #333333;
    margin-left: 10px;
    padding-top: 0;
    
}


.p-menuitem-text {
    color: #ffffff;
}
.p-menuitem-icon {
    color: #ffffff;
}

.p-menuitem-link:hover .p-menuitem-text  {
    color: #000;
}
.p-menuitem-link:hover .p-menuitem-icon  {
    color: #000;
}

.content {
    border: 1px solid #e9e9e9;
    padding-top: 1rem;    
    min-height: 80vh;
    background-color: var(--primary-color-cc);
}

.p-menuitem-link-active {
    background-color: #000;
}
.footer {    
    background-color: var(--secondary-color-cc);
    min-height: 4rem;
    width: 100%;
    color: var(--primary-color-cc);
    display: flex;
    align-items: center;
    justify-content: center;
}


