.header {
    padding-bottom: 0;
}
.banner {
    background-color: var(--primary-color-cc);  
    height: 4rem;     
}

.banner > h1 {
    color: #333333;
    margin-left: 10px;
    padding-top: 0;    
}

/* .p-menuitem-text {
    color: #ffffff;
}

.p-menuitem-icon {
    color: #ffffff;
}

.p-menuitem-link:hover .p-menuitem-text  {
    color: #000;
}
.p-menuitem-link:hover .p-menuitem-icon  {
    color: #000;
} */

.content {
    
    padding-top: 1rem;    
    min-height: 80vh;
    background-color: #ffffff;
}

 /* .p-menuitem-link-active {    
    background-color: #f3f4f6;
    
} */

.p-menuitem-link-active > span {
    font-weight: bold;
} 


/* ::ng-deep .p-focus  > a {
    color:#000;
} */
.footer {    
    background-color: var(--primary-color-cc);
    min-height: 4rem;
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}


